<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- https://www.iis.net/downloads/microsoft/url-rewrite -->
    <system.webServer>
        <rewrite>
            <rules>
                <!-- nodejs服务端代码，当前没有使用nodejs做服务端所以此部分代码无用 -->
                <!-- <rule name="API Rule" stopProcessing="true">
                <match url="^(api|account|manage)(.*)$" />
                <action type="None" />
                </rule> -->
                <rule name="Angular Rule" stopProcessing="true">
                <match url="(.*)" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="index_prod.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>