.consigner {
    position: absolute;
    top: 0.25vw;
    bottom: 0.25vw;
    left: 0.25vw;
    right: 0.25vw;
    display: flex;
    .column{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .row{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
